*{
    padding: 0px;
    margin: 0px;
    font-family: 'Hind Siliguri', sans-serif;
}
.container__navbar{
    position: fixed;
    width: 100vw;
    display: grid;
    grid-template-columns: 6fr 1fr;
    background-color: none;
    z-index: 10;
    background-color: black;
}
.container__navbar--logo {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    font-weight:bold;
}
.container__navbar--logo a{
    text-decoration: none;
    color: #f0db5c;
}
.container__navbar--redes{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.navbar__icons{
    display: gird;
    grid-template-columns: 1fr 1fr;
}
.navbar__icons a img{
    height: 40px;
    width: 40px;
    padding-right:30px;
}
.facebook__icon{
    grid-column: 1/2;
    grid-row: 1;
}
.whatsapp__icon{
    grid-column: 2/3;
    grid-row: 1;
}
.container__present{
    position:relative;
    top:0;
    right:0;
    left: 0;
    background-image: url("/src/assets/images/portada.jpeg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    

}
.container__present--letter div p{
    font-family: 'Imbue', serif;
    font-size: 60px;
}
.container__present--container{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.65);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.container__present--letter{
        grid-column: 2/3;
        grid-row: 2;
        color: white;
}
.container__present--letter p{
    margin:10px auto;
}
.container__present--letter button{
    height: 30px;
    width: 150px;
    color:black;
    background-color: #f0db5c;
    border-radius: 15px;
    margin:0 auto;
}

.container__our{
    background-color: black;
    height: 50vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
}
.img__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin:  0 auto;
}

.text__container{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}
.text__container h1{
    color: white;
    width: 100%;
    font-family: 'Imbue', serif;
    font-size: 40px;
}
.text__container p{
    color: white;
    width: 100%;
}
.text__container button{
    color: black;
    background-color: #f0db5c;
    height: 30px;
    width: 90px;
    border-radius: 15px;
}
.container__event{
    background-color: white;
    height: 80vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.event__one{
    background-color: rgba(0,0,0,0.85);
    height: 90%;
    width: 70%;
    margin: auto;
    color: white;
    grid-column: 2/3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

    
}

.event__two{
    background-color: rgba(0,0,0,0.85);
    height: 90%;
    width: 70%;
    margin: auto;
    color: white;
    grid-column: 3/4;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    
}
.event__three{
    background-color: rgba(0,0,0,0.85);
    height: 90%;
    width: 70%;
    margin: auto;
    color: white;
    grid-column: 4/5;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    
}
.event__four{
    background-color: rgba(0,0,0,0.85);
    height: 90%;
    width: 70%;
    margin: auto;
    color: white;
    grid-column: 5/6;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    
}
.event__one button img{
    height: 20px;
 }
 .event__two button img{
    height: 20px;
 }
 .event__three button img{
    height: 20px;
 }
 .event__four button img{
    height: 20px;
 }
 .event__titles{
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
 }
 .event__one button{
    height: 30px;
    width: 150px;
    margin: 10px auto;
    border-radius: 15px;
 }
 .event__two button{
    height: 30px;
    width: 150px;
    margin: 10px auto;
    border-radius: 15px;
 }
 .event__three button{
    height: 30px;
    width: 150px;
    margin: 10px auto;
    border-radius: 15px;
 }
 .event__four button{
    height: 30px;
    width: 150px;
    margin: 10px auto;
    border-radius: 15px;
 }
 .black__button{
     background-color: black;
     color: white;
 }
 .container__contact{
    background-color: black;
    height: 50vh;
    width: 100vw;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
 }
 .container__contact--text{
     width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
 }

 
 