*{
    padding: 0px;
    margin: 0px;
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    
}
.container__navbar{
    position: fixed;
    width: 100vw;
    height: 100px;
    display: grid;
    grid-template-columns: 4fr  5fr 2fr;
    background-color: rgba(0,0,0,0.85);
    z-index: 10;

}
.menu{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.container__navbar--logo {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    font-weight:bold;
}
.container__navbar--select {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100%;
    font-weight:bold;
}
.container__navbar--select a{
    text-decoration: none;
    color: #d9ad26;
}
.container__navbar--logo a{
    text-decoration: none;
    color: #d9ad26;
}
.container__navbar--logo a img{
    height: 120px;
}
.container__navbar--redes{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.navbar__icons{
    margin-top: 5px;
    display: gird;
    grid-template-columns: 1fr 1fr;
}
.navbar__icons a img{
    height: 30px;
    width: 30px;
    padding-right:30px;
}
.facebook__icon{
    grid-column: 1/2;
    grid-row: 1;
}
.whatsapp__icon{
    grid-column: 2/3;
    grid-row: 1;
}
.container__present{
    position:relative;
    top:0;
    right:0;
    left: 0;
    background-image: url("../images/portada2.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw; 
    

}

.container__present--container{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.25); 
    display: flex;
    justify-self: center;
    align-items: center;
}
.container__present--letter{
        padding-top: 100px;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: repeat(6,1fr);
       
        
}
.container__logo--img{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__present--letter div img{
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}
.container__present--letter div a{
    height: 1.5em;
    width: 5em;
    color:black;
    background-color: #d9ad26;
    border-radius: 15px;
    margin:0 auto;
    text-align: center;
    justify-items: center;
}

.container__our{
    padding-top: 80px;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
}
.img__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin:  0 auto;
}

.text__container{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}
.text__container h1{
    
    width: 100%;
    
    font-size: 2.1em;
}
.text__container p{
    
    width: 100%;
    font-size: 1.1em;
}

.container__event{
    padding-top: 120px;
    background-color: white;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.event__one{
    
    height: 90%;
    width: 90%;
    margin: auto;
    box-shadow: 4px 4px 4px 2px rgba(0,0,0,0.75);
    grid-column: 2/3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;    
}

.event__two{
   
    height: 90%;
    width: 90%;
    margin: auto;
    box-shadow: 4px 4px 4px 2px rgba(0,0,0,0.75);
    grid-column: 3/4;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;    
}
.event__three{
   
    height: 90%;
    width: 90%;
    margin: auto;
    box-shadow: 4px 4px 4px 2px rgba(0,0,0,0.75);
    grid-column: 4/5;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    
}
.event__four{
    
    height: 90%;
    width: 90%;
    margin: auto;
    box-shadow: 4px 4px 4px 2px rgba(0,0,0,0.75);
    grid-column: 5/6;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    
}

 .event__titles{
     height: 100%;
     display: grid;
     grid-template-rows: 2em 3em 2em 16rem;
 }
 .event__titles div{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .event__titles div img{
    height: 60px;
    width: 60px;
}
.event__titles ul li{
    list-style: none;
    font-size: 0.8em;
}
 
 .event__one h1{
   background-color: #d9ad26;
   color: black;
   width: 100%;
 }

 .event__two h1{
    background-color: #d9ad26;
    color: black;
    width: 100%;
  }

 .event__three h1{
    background-color: rgb(64, 192, 224);
    color: black;
    width: 100%;
  }

 .event__four h1{
    background-color:rgb(64, 192, 224);
    color: black;
    width: 100%;
  }
 .black__button{
     background-color: black;
     color: white;

 }
 .container__contact{
     padding-top: 50px;
    height: 70vh;
    width: 100vw;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
 }
 .container__contact--center{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .container__contact--text{
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: right;
    flex-wrap: wrap;
 
 }
 .container__contact--text input{
    width: 100%;
 }

.container__contact--text button{
    width: 80%;
    padding:10px;
    margin-top: 5px;
 }

 .btn__yellow{   
    font-size: 15px;
    color:black;
    background-color: #d9ad26;
    border-radius: 15px;
    text-align: center;
    border: 2px solid black;
    margin-top: 5px;
    height: 1.6em;
    width: 9em;
    padding-bottom: 0.5em;
}
.btn__yellow a{
    text-decoration: none;
    color:black;
    text-align: center; 
       
}
.container__buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 
}
.container__buttons div{
    display: flex;
    justify-content: center;
}
.container__buttons div a{
    border: 2px solid black;
}
.container__contact--img{
    height: 100%;
    width: 100%;
}
.container__contact--img img{
    height: 90%;
    width: 90%;
    
}
.container__footer{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap:wrap;
   
    
}
.container__footer a{
    text-decoration: none;
    
    padding-bottom: 20px;
}
.services_payment{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
}
.services_payment--img{
    display: flex;
    justify-content: space-around;    
}
.services_payment--img img{
    height: 60px;
    margin: 15px;    
}
.container__navbar--logo a{
    margin-left: 20px;
}
.container__descripiton{
    padding-top: 120px;
    height: 40vh;
    text-align: center;
    
}
.container__descripiton h1{
    font-size: 2em;
}
.container__descripiton p{
    margin-top: 15px;
    font-size: 1.6em;
}
.container__imgs{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100vw;
}
.imagen img{
    width: 70%;
    padding: 10px 10px 30px 10px;
    margin-bottom: 30px;
    background-color: white;
}
.second__body{
  
    display: flex;
    justify-content: center;
}

.video{
    border: 2px solid black;
  box-shadow: 8px 8px 8px 4px rgba(0,0,0,0.85);

}
.jusctify__left{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: left;
    align-items: center;
    padding-left: 15px;
}
.container__contact--text h1{
    font-size: 2em;
    padding-bottom: 0.2em;
}
.container__contact--text h3{
    font-size: 1.2em;
    padding-bottom: 0.2em;
}


.container__video{
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 110vh;
    margin-bottom: 30px;
    background-color: #d9ad26;
}
.card__video{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.card__video div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
}
.card__video div video{
    height: 40vh;
}
.card__video div p{
    font-size: 1.3em;
}
.title__video h2{
    padding-top: 1em;
    font-size: 2em;
}

.item__special{
    grid-row: 3;
    grid-column: 1 / 7;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    width: 100%;
}
.item__special a{
    height: 50px;
    width: 350px;
    text-decoration: none;
    border-radius: 30px;
    text-align: center;
}
.item__special a img{
    height: 45px;
}

.cut__img{
    height: 50vh;
}
.logo__responsive{
    display:none;
}
.aparece{
    display: block;
}


/* 
media queries */

@media screen and (max-width: 1108px){
    .container__navbar--select a{
        font-size: 0.8em;
    }
    .container__navbar--logo a{
        font-size: 0.8em;
    }
    .container__navbar--logo a img{
        height: 100px;
    }

}

@media screen and (max-width: 935px){
    .container__navbar{
        grid-template-columns: 6fr 6fr 1fr;
        height: 90px;
    }
    .navbar__icons a img{
        margin-left:30px ;
    }
    .menu{
        display:none;
        justify-content: center;
        align-items: center;
        position: fixed;
        flex-wrap: wrap;
        width: 100vw;
        height: 94vh;
        padding-top: 6vh;
        background-color: rgba(0,0,0,0.85);
    }
    .container__navbar--select{
        width: 10vw;
        margin-left: 45vw;
        margin-right: 45vw;
        height: 5vh;
        text-align: center;
    }
    .container__navbar--select a{
        text-align: center;
    }
    .menu__btn{
        display: flex;
        position: fixed;
        top: 18px;
        right: 30px;
        z-index: 12;
        background-color: rgba(0,0,0,0);
        border: none;
    }
    .close__btn{
        display: none;
        position: fixed;
        top: 18px;
        right: 30px;
        z-index: 12;
        background-color: rgba(0,0,0,0.75);
        border: none;
    }
    .close__btn img{
        height: 50px;
    }
    .aparece{
        display: flex;
    }
    .esconde{
        display: none;
    }
    .text__container{
        margin-left: 30px;
    }
    .text__container h1{
        text-align: center;
        font-size: 1.5em;
    }
    .text__container p{
        text-align: center;
        font-size: 1.1em;
    }
    .cut__img{
        height: 40vh;
        padding-left: 90px;
    }
    .card__video div video{
        height: 30vh;
    }
    .card__video div p{
        font-size: 30px;
        margin: 0px 10px;
    }
    .event__titles h1{
        font-size: 22px;
    }
    .event__titles ul li {
        font-size: 17px;
    }
    .container__contact--text h1{
        text-align: center;
    }
    .container__contact--text h3{
        text-align: center;
    }
    .container__contact--text p{
        text-align: center;
    }

}

@media screen and (max-width: 864px){
    .container__our{
        height: 85vh;
    }
    .text__container p{
        text-align: center;
        font-size: 0.8em;
    }
    .text__container {
        
        align-items: stretch;
    }
    .container__video{
        height: 85vh;
    }
    .card__video div video{
        height: 25vh;
    }
    .card__video div p{
        font-size: 25px;
        margin: 0px 10px;
    }
    .event__titles h1{
        font-size: 18px;
    }
}

@media screen and (max-width: 628px){
    .container__our{
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        margin: 0px;
        align-items: stretch;
        justify-content: center;
        height: 600px;
    }
    .cut__img{
        padding: 0px;
        
    }
    .img__container{
        height: auto;
    }
    .container__video{
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        margin: 0px;
        align-items: stretch;
        justify-content: center;
        height: 800px;
    }
    .details__video{
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
    }
    .card__video{
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
    }
    .title__video{
        margin-top: 40px;
        height: 100px;
    }

    .container__event{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 1700px;
    }
    .event__one{
        height: 400px;

    }
    .event__two{
        height: 400px;
    }
    .event__three{
        height: 400px;
    }
    .event__four{
        height: 400px;
        margin-bottom: 20px;
    }
    .container__contact{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 800px;
    }
    .container__contact--img{
        height: 300px;
        display: none;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .container__contact--img img{
        height: 300px;
        display: none;
    }
    
    .event__titles ul li{
        font-size: 20px;
    }
    .container__footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: black;
        color: white;
    }
    .container__footer p{
        width: 100%;
    }
    .container__footer a{
        width: 100%;
        color: white;
        
    }
}

@media screen and (max-width: 500px){

}
